# This is a comment.

# base_package_name is the package in which the implementation classes
# for your grid service will reside. It can be anything you choose.
base_package_name	edu.umd.grid.bio.structure

# The name of the service
service_name	Structure

# The location in the container under which services are found.
service_prefix	https://leucine.umiacs.umd.edu:8443/wsrf/services

# The address under service_prefix where this service will live.
service_location	bio/Structure

# The namespace within which the service's WSDL will be declared.
namespace_prefix	http://www.umd.edu/namespaces/grid/bio/

# The directory in which the GSG templates can be found.
template_dir	/fs/mikehomes/gt4admin/work/GSG/GSG-GT4/trunk/templates/

# $GLOBUS_LOCATION
globus_home	/export/work/globus